<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
    <title>更多商品</title>
    <link rel="stylesheet" href="__PUBLIC__/css/more.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/temp.css"/>
    <script type="text/javascript" src="__PUBLIC__/js/fastclick.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/zhichis.js"></script>
</head>
<body>

    <!--头部-->
    <header class="m-header">
        <div class="m-header-content">
            <div class="m-header-lt">
                <h2>知吃氏-商品栏</h2>
                <p>全国包邮，送货上门</p>
                <img src="__PUBLIC__/img/more_01.png" alt="图片"/>
            </div>
            <div class="m-header-rt">
                <a href="__APP__/home/Page/yg_try">
                    <div class="m-header-rt-box">
                    <img src="__PUBLIC__/img/more_02.jpg" alt="图片"/>
                    <p>荆州鱼糕-品尝包</p>
                </div>
                </a>
                <a href="__APP__/home/Page/yg">
                    <div class="m-header-rt-box pd-l">
                    <img src="__PUBLIC__/img/more_03.jpg" alt="图片"/>
                    <p>荆州鱼糕-电商糕</p>
                </div>
                </a>
                <a href="__APP__/home/Page/wsry">
                    <div class="m-header-rt-box">
                        <img src="__PUBLIC__/img/more_04.jpg" alt="图片"/>
                        <p>荆州鱼糕-万事如意</p>
                    </div>
                </a>
                <a href="__APP__/home/Page/yjwg">
                    <div class="m-header-rt-box pd-l">
                        <img src="__PUBLIC__/img/more_05.jpg" alt="图片"/>
                        <p>石首-鱼胶瓦罐</p>
                    </div>
                </a>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="container-list">
            <a href="__APP__/home/Page/yd">
                <div class="container-box" style="padding-top: 1vw;">
                <img src="__PUBLIC__/img/more_06.jpg" alt="图片"/>
                <p>石首-礼品鱼胶</p>
            </div>
            </a>
            <a href="#">
                <div class="container-box">
                <img src="__PUBLIC__/img/more_07.jpg" alt="图片"/>
                <p>大白刁(大)</p>
            </div>
            </a>
            <a href="#">
                <div class="container-box">
                <img src="__PUBLIC__/img/more_09.jpg" alt="图片"/>
                <p>银鱼 250ml</p>
            </div>
            </a>
            <a href="__APP__/home/Page/ht">
                <div class="container-box">
                <img src="__PUBLIC__/img/more_08.jpg" alt="图片"/>
                <p>松林高山黄桃</p>
            </div>
            </a>
            <a href="#">
                <div class="container-box">
                <img src="__PUBLIC__/img/more_10.jpg" alt="图片"/>
                <p>牡丹字油</p>
            </div>
            </a>
            <a href="__APP__/home/Page/mj">
                <div class="container-box">
                <img src="__PUBLIC__/img/more_11.jpg" alt="图片"/>
                <p>雪峰蜜桔</p>
            </div>
            </a>
        </div>
    </div>

    <div class="img-list">
        <img class="tstj" src="__PUBLIC__/img/tstj.png" alt="特色推荐"/>
        <div class="container-page">
            <img style="margin-top: 2vw;" src="__PUBLIC__/img/index-page1.jpg" alt=""/>
            <img style="margin-top: 1vw;" src="__PUBLIC__/img/index-page2.jpg" alt=""/>
            <img style="margin-top: 1vw;" src="__PUBLIC__/img/index-page3.jpg" alt=""/>
        </div>
    </div>

    <div class="zw"></div>

    <!--m-footer-->
    <footer class="m-footer">
        <div class="content">
            <a href="__APP__/home/Cart/cart.html"><div class="buyCart">购物车<span class="buy-min">0</span></div></a>
            <a href="__APP__/home/User/individual.html"><div class="personal">个人中心</div></a>
        </div>
    </footer>
</body>
</html>