<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>待付款</title>
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src=""></script>
<link rel="stylesheet" href="__PUBLIC__/css/payorder.css" type="text/css" />
</head>

<body>
<!-- 头部 
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
       <div class="navbar-header">
          <a href="#" class="navbar-brand" style=" color:#fff;"><&nbsp;返回</a>
          <span>我的订单</span>
       </div>
    </div>
</div>
-->

<!-- 订单 -->

<div class="order_02">
   <div class="container">
        <ul>
        <li class="li1">订单号:</li>
        <li class="li2">000000003</li>
        <li class="li4">立即付款</li>
        <li class="li3">交易状态:</li>
      </ul>     
      <div class="clearfix"></div><!--清楚浮动-->
      <img src="__PUBLIC__/img/myorder2.jpg">     
      <ol>
        <li class="ol1">荆州鱼糕</li>
        <li class="ol2">规格:1斤一箱</li>
        <li class="ol3">运费：￥0.00</li>
        <li class="ol4">
          <p>￥138.00   ×2</p>
          <span class="ol5">小计：￥53.00</span>
        </li>
      </ol>
   </div>
</div>




<script src="__PUBLIC__/js/jquery-2.2.2.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
</body>
</html>
