<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
    <title>支付成功</title>
    <style>
        body,h2{padding: 0;margin: 0;}
        img{display: block;width: 30%;margin: 30vw auto 0 auto;}
        h2{text-align: center;color:#222;}
        p{text-align: center;color: #ccc;}
        a{padding: 3vw 8vw;border-radius: 1vw;color: #fff;text-decoration: none}
        .btnBox{margin-top: 20vw;text-align: center;}
    </style>
</head>
<body>
    <img src="__PUBLIC__/img/succ.png" alt=""/>
    <h2>支付成功</h2>
    <p>感谢您对知吃氏平台的支持!</p>
    <div class="btnBox">
        <a href="http://zhichis.com/zhichis_item/zhichis/home/index/index" style="background: #d73b51;">继续购买</a>
        <a href="http://zhichis.com/zhichis_item/zhichis/home/order/myorder" style="background: #666;margin-left: 5vw;">查看订单</a>
    </div>
</body>
</html>