<!DOCTYPE html>
<html>
<head>
	<title>商品列表</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/js/bootstrap.min.js">
    <link rel="stylesheet" type="text/css" href="<?php echo ADMIN_CSS_URL?>table.css" />
    <link rel="stylesheet" type="text/css" href="<?php echo ADMIN_CSS_URL?>main.css">
    <script type="text/javascript">

        //上下架时弹出确定层
        function frame(url){
            var name = document.getElementById('frame').innerHTML;
            if (confirm("你确定"+name+"吗？")) {
                window.location = url;
            };
        }
    </script>
</head>
<body>
    <div class="main">
        
    
    <h3 align="center">商品列表(view)</h3>
	<table class="table table-bordered table-striped">
            <tr>
                <td colspan="5" bgcolor="#FFFFFF" class="title" align="center">当前登录用户：{:session('nickname')}</td>
            </tr>
            <tr>
                <td colspan="5" bgcolor="#FFFFFF" class="title" align="center">商品信息</td>
            </tr>
            <tr class="title active">
                <td bgcolor="#FFFFFF" width="60" >编号</td>
                <td bgcolor="#FFFFFF" width="100">名称</td>
                <td bgcolor="#FFFFFF" width="100">价格</td>
                <td bgcolor="#FFFFFF" width="100">图片</td>
                <td bgcolor="#FFFFFF" width="100">重量</td>
                <td bgcolor="#FFFFFF" width="100">库存</td>
                <td bgcolor="#FFFFFF" width="100">销量</td>
                <td bgcolor="#FFFFFF" width="300">介绍</td>
                <td bgcolor="#FFFFFF" width="100">状态</td>
				<td bgcolor="#FFFFFF" width="100">操作</td>
            </tr>
            <foreach name='select' item='list' >
                <tr class="content" align="center">
                    <td bgcolor="#FFFFFF">&nbsp;{$list.pro_id}</td>
                    <td bgcolor="#FFFFFF">&nbsp;{$list.pro_name}</td>
                    <td bgcolor="#FFFFFF">&nbsp;{$list.pro_price}</td>
                    <td bgcolor="#FFFFFF">&nbsp;<img src="__PUBLIC__/ProUpload/{$list.pro_img}" height="50" width="50"></td>
                    <td bgcolor="#FFFFFF">&nbsp;{$list.pro_spec}</td>
                    <td bgcolor="#FFFFFF">&nbsp;{$list.pro_num}</td>
                    <td bgcolor="#FFFFFF">&nbsp;{:($list[pro_sales] == 0) ? '暂无销量' : $list[pro_sales]}</td>
                    <td bgcolor="#FFFFFF">&nbsp;{$list.pro_info|subtext=40}</td><!--限制字符 Common/function.php/subtext()-->
                    <td bgcolor="#FFFFFF">&nbsp;{:($list['pro_isshelves'] == 0) ? '已上架' : '已下架'}
                    </td>
                    <td bgcolor="#FFFFFF" id="oper">&nbsp;<a href="__URL__/editpro/proId/{$list.pro_id}" target="center">编辑</a>&nbsp;
                    <a href="javascript:frame('__URL__/proshelves/proId/{$list.pro_id}')" target="center" id="frame">{:($list['pro_isshelves'] == 1) ? '上架' : '下架'}</a></td>
                </tr>
            </foreach>
            <tr class="content">
                <!--<td colspan="3" bgcolor="#FFFFFF">&nbsp;{$page}</td>-->
                <td colspan="12" bgcolor="#FFFFFF" style="text-align:center;"><div class="pages">
                	{$page}
                </div></td>  
            </tr>
        </table>

        </div>
</body>
</html>